/* Домашнее задание к уроку №3 к курсу HTML-CSS
Студент: Максим Сапунов Jenny6199@yandex.ru
*/

/* 1. Создать файл стилей и подключить к каждой странице.*/
/* выполнено - текущий файл */

/* 2. Для всего сайта задать разновидность шрифта */
body {
    font-family: sans-serif;
}

/* 3. Для всех параграфов присовить класс и задать стили.*/
p {
    font-size: 16px ;
    line-height: 26px;
    color: #1f3f68;
}

/* 4. Для заголовка h1 создать класс и присвоить стили.*/
.heading_h1 {
    font-size: 64px;
    color:#1f3F68
}

/* 5. Для заголовка h2 (на странице контакты) создать класс и присвоить стили.*/
.heading_h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

/* 6. Для заголовка h3 создать класс и задать стили. */
.heading_h3 {
    font-size: 36px;
    text-align: center;
}

/* 7. Заголовкам h4 создать класс и задать стили. */
.heading_h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1f3F68
}

/* 8. Для всех полей ввода (input, textarea) задать общий класс и к нему стили. */
.text-area {
    border: 1px solid #356ead;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

/* 9. Кнопке отправки формы присвоить класс и к нему стиль. */
.submit {
    background: #5a98d0;
    box-shadow: 5px 20px 50 px rgba(16, 112, 117, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

/* 
прим. Для пунктов 4-9 в ТЗ отмечено - создать класс, в связи с чем выполнено следующее:
класс создан в CSS и подключен на страницах HTML для нужных заголовков.
можно было объявить свойства для заголовков напрямую с помощью селекторов тэгов - 
наприм. - h3 {...}
Преподаватель в видеоуроке рекомендовал реализацию через class. Так и сделано.
Комментарии оставлены с учебной целью.
*/