/*
------------------------------------
Общий блок
------------------------------------
*/

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

a:hover {
    font-weight: bold;
}

.h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    margin: 10px;
}

.h3 {
    font-size: 18px;
    font-weight: bold;
    width: 425px;
    text-align: left;
    margin: 10px;
}

ul {
    list-style: none;
}

/* 
------------------------------------
Блок для header. 
------------------------------------
*/
.header {
    border: 1px solid blue;
    background-color:cornflowerblue;
}

.title {
    background-color: skyblue;
    width: 510px;
    margin: 10px;
    padding: 10px;
}

.header_p {
    width: 425px;
    text-align: left;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

/* 
------------------------------------
Блок для content.
------------------------------------
*/

.content {
    margin-top: 10px;
    background-color: dodgerblue;
    align-content: center;
}

.what-we-do {  /* Согласно ТЗ :) */
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.card {
    width: 359px;
    height: 359px;
    min-width: 100px;
    min-height: 100px;
    border: 1px solid black;
    background-color: darkturquoise;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.card-3 {
    background-color:mediumpurple;
}

.card_href {
    align-self: flex-end;
}

.block {
    display: flex;
    justify-content: stretch;

}

.block-1 {
    width: 400px;
    margin: 10px;
}


/*
------------------------------------
Блок для footer
------------------------------------
*/

.footer {
    margin-top: 10px;
    border: 2px solid blue;
    min-height: 100px;
    background-color: cornflowerblue;
}

.footer_info {
    display: flex;
    justify-content: space-between;
}

.paragraph {
    width: 495px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding: 10px;
    border: 2px solid blue;
}

.copy {
    border: none;
}

/* 
------------------------------------
Кнопка и поля ввода на странице Contacts 
------------------------------------
*/

.text-area {
    border: 1px solid #356ead;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.submit {
    background: #5a98d0;
    box-shadow: 5px 20px 50 px rgba(16, 112, 117, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}