* {
    font-family: sans-serif;
}

.p {
    font-size: 16px;
    line-height: 26px;
    color: #1f3f68;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    margin: 10px;
}
.text {
    flex-grow: 1;
    flex-basis: 200px;
}

.header {
    border: 1px solid black;
    margin: 10px;
}

.footer {
    border: 1px solid black;
    margin: 10px;
}

ul {
    list-style: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.h1 {
    font-size: 64px;
    color: #1f3f68;
}

.h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.h3 {
    font-size:36px;
    text-align: center;
}

.h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1f3f68;
}

.input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.submit {
    background: #5a98d0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.title {
    max-width: 540px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

a:hover {
    font-weight: bold;
}

.card {
    border: 1px solid red;
    margin: 10px;
}

.card_block {
    display: flex;
}

.left_position {
    width: 100%;
}

